body {
    background-color: #E9BCB7;
}
header {
    align-items: center; 
    gap: 15px;
}
header img {
    height: 80px;
    width: auto;
    border-radius: 12px;
}
main {
    background-color: #EDD3D5;
    padding: 10px;
    border-radius: 12px;
}
h1 {
    background-color: #94A187;
    padding: 10px;
    border-radius: 12px;
    color: #29524A;
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 0;
}

p {
    color: #06070E;
}
li::marker {
    content: "❀";
    padding-right: 6px;
    color: #29524A;
}
li {
    padding-left: 8px;
    color: #466060;
}
h2, h4 {
    color: #313b38;
}
footer p {
    text-align: center;
}