<footer>
        <nav>
            <a href="https://webpages.charlotte.edu/mschoma1/" target="_blank">Webspace</a>
            <a href="https://github.com/marlene-schomaker" target="_blank">GitHub.com</a>
            <a href="https://github.com/marlene-schomaker/marlene-schomaker.github.io" target="_blank">Github.io</a>
            <a href="https://www.freecodecamp.org/marlene-schomaker" target="_blank">FreeCodeCamp</a>
            <a href="https://www.codecademy.com/profiles/marlene_schomaker" target="_blank">Codecademy</a>
            <a href="https://www.linkedin.com/in/marlene-schomaker-9a6226210/" target="_blank">LinkedIn</a>
        </nav>
        <p>Page designed by <a href="schomakerdesigns.com/">Schomaker Designs</a> ©2026</p>
</footer>